body{
    background-color:aliceblue
}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 78px;
    text-align: center;
    font-weight: bolder;
}

button{
    border-radius: 12%;
    background-color: rgba(7, 94, 255, 0.983);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    border-radius: 12%;
    background-color: rgba(7, 94, 255, 0.983);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}