header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}


.container {
width: 100vw;
height: 60vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.box {
width: 400px;
height: 350px;
background: #0c5757;
text-align: center;
border-radius: 25%;
}

input{
    width: 250px;
    height: 30px;
    background-color: #0c5757;
    border-radius: 25%;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    width: 80px;
    height: 40px;
}

button:hover{
    width: 80px;
    height: 40px;
    border-radius: 25%;
    background-color: aquamarine;
    cursor: pointer;
}